<div class="container">
  <h3>Stations</h3>
  <div *ngIf="observable | async as stations;  else loading;">
    <div *ngIf="stations.length != 0; else empty;">
      <div class="row" style="padding:10px" *ngFor="let station of stations
                                | paginate: { id: 'StationListPagination',
                                              itemsPerPage: itemsPerPage,
                                              currentPage: currentPage}">
        <div class="row">
          <div class="col-xs-6">
            <h3>{{station.info["name"]}}</h3>
            <br/>
            <b>Ville:</b> {{station.info["city"]}}
            <br/>
            <b>Latitude:</b> {{station.info["latitude"]}}
            <br/>
            <b>Longitude:</b> {{station.info["longitude"]}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <aqi [station]="station"></aqi>
          </div>
        </div>
        <button (click)="details(station.id)">Détails</button>
      </div>
    </div>
    <ng-template #empty><b>La liste est vide.</b></ng-template>
  </div>
  <ng-template #loading><b>Chargement...</b></ng-template>
</div>
<pagination-controls  id="StationListPagination"
                      (pageChange)="pageChanged($event)">
</pagination-controls>